ADMIN_EMAIL=
ADMIN_PASSWORD=
CORS_ENABLED=
CORS_METHODS=
CORS_ORIGIN=
DB_CLIENT=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USER=
HOST=
KEY=
PUBLIC_URL=
SECRET=
STORAGE_LOCAL_DRIVER=
STORAGE_LOCAL_ROOT=
STORAGE_LOCATIONS=
VITE_ADMIN_PASSCODE=
VITE_DIRECTUS_STATIC_TOKEN=
VITE_DIRECTUS_URL=